<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Матвей: о себе</title>
	<link type="text/css" href="{% static 'creative_task/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background: url({% static 'creative_task/images/fon.jpg' %})">
	<div>
		<img src="{% static 'creative_task/images/author.jpg' %}" class="projectimg">
		<div class="container">
			<h1>Привет, я Матвей Линьков.</h1>
			<h3>Я живу в городе Гусь-Хрустальный.</h3>
			<h3>Мне нравится играть в компьютерные игры и решать головоломки.</h3>
			<h3>Я прошел двухгодичные курсы Яндекс Лицея. В следствии чего у меня появился опыт в
				создании оконных приложений, игр и веб приложений при помощи языка Python.</h3>
		</div>
		<nav class="navbar navbar-dark bg-dark" style="width: 315px; float: right; border-radius: 10px">
		  <span class="navbar-brand mb-0 h1">А вот использование Bootstrap :)</span>
		</nav>
	</div>
</body>
</html>
